.HeaderLabels {
  height: 10px;
  display: flex;
  padding: 20px;
  margin-top: 1px;
  align-items: center;
  justify-content: space-between;
  background: rgb(159,184,206); 
  background: -moz-linear-gradient(top, rgba(159,184,206,1) 0%, rgba(222,231,238,1) 36%, rgba(255,255,255,1) 68%, rgba(255,255,255,1) 100%); 
  background: -webkit-linear-gradient(top, rgba(159,184,206,1) 0%,rgba(222,231,238,1) 36%,rgba(255,255,255,1) 68%,rgba(255,255,255,1) 100%); 
  background: linear-gradient(to bottom, rgba(159,184,206,1) 0%,rgba(222,231,238,1) 36%,rgba(255,255,255,1) 68%,rgba(255,255,255,1) 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9fb8ce', endColorstr='#ffffff',GradientType=0 );
}

h2 {
  font-size: 16px;
  color: #043d67;
  margin-right: 30px;
  margin-top: 31px;
  width: auto;
  padding-left: 5px;
  height: 28px;
  padding-right: 5px;
  margin-bottom: 18px;
}

h2.date:hover, .refreshIcon {
  cursor: pointer;
}

h2.date.desc {
  margin-bottom: 18px;
  border-top: 4px solid #27d9cf;
  padding-top: 14px;
  margin-top: 13px;
}

h2.date.asc {
  margin-bottom: 14px;
  border-bottom: 4px solid #27d9cf;
}

.badge {
  width: 50px;
}

.name {
  width: 94px;
}

.type {
  width: 87px;
}

.date {
  width: 86px;
}

.details {
  width: 46px;
  margin-right: 218px !important;
}

.id {
  width: 15px;
}

.article {
  width: 44px;
  margin-right: 0 !important;
}