.HeaderFilters {
  height: 37px;
  padding: 20px;
  display: flex;
  border-radius: 10px 10px 0 0;
  background: rgba(255, 255, 255, 0.15);
  border-left: 1px solid #fff;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  align-items: center;
  justify-content: space-between;
}

.refreshIcon img {
  height: 20px;
  padding: 5px;
  border: 2px solid #fff;
  border-radius: 50%;
}

.checkboxes {
  width: 37%;
  justify-content: space-between;
  display: flex;
}

label {
  display: flex;
  align-items: center;
  color: #fff;
  flex-direction: row-reverse;
  font-size: 14px;
  font-weight: 100;
  position: relative;
}

input[type='checkbox'] {
  margin-right: 10px;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: -2px;
  left: -30px;
  height: 18px;
  width: 18px;
  background-color: transparent;
  border: 1px solid;
  border-radius: 3px;
}

.container:hover input ~ .checkmark {
  cursor: pointer;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 6px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid #2196F3;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}